@import url(//db.onlinewebfonts.com/c/9b06ae83a4412168ed194a8ed31218c2?family=Mabry+Pro+Medium);
@font-face {font-family: "Mabry Pro Medium"; src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot"); src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.woff") format("woff"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.svg#Mabry Pro Medium") format("svg"); }
:root {
    --primary: rgb(56, 35, 131);
    --secondary: rgb(236, 93, 160);
    --text: rgb(76, 74, 85);
    --tertiary: rgb(99, 216, 147);
    --heading: rgb(32, 23, 73);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'MabryPro', sans-serif;
}

.header-wrapper {
    background: white;
}

.content-wrapper {
    padding: 0 1.4rem;
    max-width: 1296px;
    justify-content: space-between;
    margin: 0 auto;
}


body {
    color: var(--text);
    font-family: 'Source Sans Pro', sans-serif;
  }
    


nav {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 0;
    align-items: center;
}

.navlinks {
    display: flex; 
    list-style: none;
    align-items: center;
}

.navlinks.login li:nth-child(2) {
    margin: 0;
    margin-left: 1.3rem;
    display: block;
  }


.navlinks.login .signup:hover {
    color: white;
}


.navlinks li {
    display: none;
}


a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
}

.signup {
    background: var(--primary);
    color: white;
    padding: 0.75rem 1.75rem;
    border-radius: 10px;
}

.signup:hover {
    background-color: var(--tertiary);
}

.navlinks li.hamburger {
    display: block;
    margin-left: 1.3rem;
  }
    

.navlinks li.hamburger button {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.navlinks li.hamburger svg {
    color: var(--primary);
    font-size: 24px;
}


@media only screen and (min-width: 1024px) {
    .navlinks li {
        margin: 1rem 1.3rem;
        display: block;
    } 
    .navlinks li a {
        display: flex;
        align-items: center;
    }
    .navlinks li a:hover {
        color: var(--secondary);
        }
    .signin {
        color: var(--primary);
    }
    .navlinks.login .signin:hover {
        color: var(--primary); 
    }
    .dropdownicon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem; 
    }
    
    .dropdownicon svg {
        transition: transform 0.3s ease-in-out 0s;
        transform: rotate(0deg);
        transform-origin: center center;
    }
    
    .navlinks li a:hover .dropdownicon svg {
        transform: rotate(-180deg);
    }
    .signup {
        background: var(--primary);
        color: white;
        padding: 0.9rem 2.8rem;
        border-radius: 10px;
    }
    .signup:hover {
        background-color: var(--tertiary);
    }
    .navlinks li.hamburger {
        display: none;
    }
    .body-wrapper {
        padding-top: 5rem;
    }
    .container {
        padding: 0 1.4rem;
    }
    h1 {
        color: var(--primary);
        max-width: 560px;
        width: 560px;
       font-size: 4rem;
       font-weight: 700;
       line-height: 1.2;
       margin-bottom: 1.5rem;
       margin-block-end: 1.5rem;
        ;
    }
    p {
        color: var(--heading);
        max-width: 400px;
        margin-bottom: 3rem;
        margin-block-end: 3rem;
    }
} 
