/* Google fonts cdn link */
@import url(//db.onlinewebfonts.com/c/9b06ae83a4412168ed194a8ed31218c2?family=Mabry+Pro+Medium);
@font-face {font-family: "Mabry Pro Medium"; src: url("//db.onlinewebfonts.com/t/9b06ae83a4412168ed194a8ed31218c2.eot");}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MabryPro, sans-serif;
    text-decoration: none;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 103px;
    background: rgb(255, 255, 255);
}

nav .navbar {
    height: 102%;
    max-width: 1296px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 24px 24px;
}

nav .navbar .logo a {
    height: 32px;
    width: 109px;
}

nav .navbar .nav-links { 
    background: white;
    height: 102%;
    line-height: 51px;

}

nav .navbar .nav-links .links {
    display: flex;
}

nav .navbar .nav-links .links li {
    list-style: none;
    position: relative;
    align-items: center;
    display: flex;
    padding: 0 14px;
}

nav .navbar .nav-links .links li a {
    color:  rgb(76,74,85);
    text-decoration: none;
    white-space: nowrap;
    height: 100%;
}

nav .navbar .nav-links .links li a:hover {
    color: rgb(236, 93, 160); 
}

nav .navbar .nav-links .links li .arrow {
  
    height: 100%;
    width: 22px;
    line-height: 51px;
    text-align: center;
    color: rgb(76,74,85);
    transition: all 0.3s ease;
}


nav .navbar .nav-links .links li:hover .htmlcss-arrow {
    transform: rotate(180deg);
    color: rgb(236, 93, 160);
}

.sign {
    display: flex;
}

.signinlink {
    margin-right: 32px;
    line-height: 51px;
    font-weight: bold;
    color: #382383;
}

.button {
    background-color: #382383;
    color: white;
    border: 10px;
    padding: 15px 45px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    height: 54px;
    line-height: 24px;
    justify-content: center;
    text-align: center;
}

.button:hover {
    background-color: rgb(99,216,147);
}

main{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin: 70px 30px;
    margin-top: 150px;
}

.crypto {
    width: 500px;
    margin-top: 50px;
    margin-left: 10px;


}

h1{
    font-size: 64px;
    font-family: MabryPro sans-serif;
    color: rgb(32, 23, 73);
    font-weight: 800;
    display: block;
    height: 152px;
    line-height: 76.8px;
    margin-bottom: 24px;
    margin-block-end: 24px;
    width: 560px;
    max-width: 560px;
    word-wrap: break-word;
}

p {
    display: block;
    color: rgb(76, 74, 85);
    font-size: 15px;
    font-weight: 450;
    height: 50px;
    line-height: 25.6px;
    margin-bottom: 48px;
    max-width: 400px;
    width: 400px;
}

h6 {
    display: block;
    color: rgb(76, 74, 85);
    font-size: 13.760000228881836px;
    height: 21px;
    letter-spacing: 1.7200000286102295px;
    line-height: 20.639999389648438px;
    margin-block-end: 16px;
    margin-bottom: 16px;
    text-align: left;
    text-transform: uppercase;
    width: 560px;
    font-weight: 500;
    padding-top: 48px;
}

.stores a {
    color: rgb(236, 93, 160);
    cursor: pointer;
    display: inline-flex;
    font-weight: bold;
    height: 19px;
    line-height: 19.200000762939453px;
    text-align: left;
    width: 95.15625px;
    font-size: 16px;
    padding-top: 24px;
}

.slider-container {
    background-color: white;
   width:100%;
    display: block;
    align-items: center;
    justify-content: center;
    height: 48px;
  }
  
  .slider {
    width: 100%;
    max-width: 1600px;
    height: 200px;
    margin: 10px;
   border-image: space;
    border-radius: 20px;
    overflow:hidden;
    position: relative;
    border-radius: 10px;
    padding-bottom: 300px;
    margin-bottom: 60px ;
  }
  .slides.img{
      padding-bottom: 50px;
  }
  .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
    
  }
  
  .slide:nth-of-type(even) {
    background-color: white;
  }
  
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 200px;
    scroll-snap-align: center;
    margin-right: 0px;
    box-sizing: border-box;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    overflow: hidden;
    
  }
  
  .slide__text {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .slide a {
    background: none;
   
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  
  a.slide__prev,
  .slider::before {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 5%;
  }
  
  a.slide__next,
  .slider::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5%;
  }
  
  .slider::before,
  .slider::after,
  .slide__prev,
  .slide__next {
    position: absolute;
    top: 48%;
    width: 35px;
    height: 35px;
   
    border-width: 0 4px 4px 0;
    padding: 3px;
    box-sizing: border-box;
  }
  
  .slider::before,
  .slider::after {
    content: "";
    z-index: 1;
    background: none;
    pointer-events: none;
  }
  
  .slider__nav {
    box-sizing: border-box;
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    height: ;
  }
  
  .slider__navlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    margin: 0 10px 0 10px;
  }